:root {
    --main_bg_color: #002a3d;
    --main_txt_color: #F8F8F8;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow-wrap: break-word;
}

header,
nav {
    background-color: var(--main_bg_color);
    font-size: 18px;
    color: var(--main_txt_color);
}

nav {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

a {
    color: var(--main_txt_color);
    text-decoration: none;
    margin: 0 2vw;
}

.header-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 160px 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.left {
    padding: 10px 0;
    flex: 0 1 450px;
}

.left a {
    margin: 0;
    padding: 0;
}

button {
    background-color: #009ce4;
    padding: 8px 24px;
    font-size: 16px;
    color: #F8F8F8;
    border: none;
    border-radius: 10px;
}

button:active {
    background-color: #00aeff;
}

.right {
    background-color: #113a4d;
    width: 420px;
    height: 280px;
    text-align: center;
}

article h2 {
    margin-top: 50px;
    text-align: center;
    color: #414141;
}

hr {
    background-color: #CACACA;
    height: 2px;
    border: none;
    width: 90%;
    max-width: 1250px;
}

.cards {
    
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 10px;
}

.card {
    position: relative;
    background-color: #FAFAFA;
    color: #414141;
    border: 3px solid #DADADA;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
}

.card:hover {
    border: 3px solid #CACACA;
    color: #303030;
}

.about {
    text-align: center;
    color: #414141;
}

.about p {
    max-width: 1000px;
    padding: 0 20px;
    margin: 20px auto;
}

.reviews {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.review {
    padding: 20px;
    color: #414141;
}

.review h3 {
    color: #303030;
}

.review p {
    margin-left: 20px;
    margin-right: 20px;
}

.review h4 {
    text-align: right;
    margin-top: 10px;
}

.review hr {
    width: 95%;
}

footer {
    background-color: var(--main_bg_color);
    color: var(--main_txt_color);
}

footer p {
    max-width: 1000px;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}
/*Js triki ruzne */
.card img {
    width: 50px;
    height: auto;
}

.card span {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: transparent;
    transition: color 1s;
    z-index: 2;
}

.card {
    transition-property: background-image;
    transition-duration: 0.5s;
}

.gradient {
    background-image: linear-gradient(#FAFAFAAA, #FAFAFA);
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 0px;
    border-radius: 17px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}